<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul class="menu">
                <li><a href="/">Perfil</a></li>
                <li><a href="/experiencias">Experiencia</a></li>
                <li><a href="/referencias">Referencias</a></li>
                <li><a href="/estudios">Estudios</a></li>
                <li><a href="/contactame">Contactame</a></li>
            </ul>
        </nav>

        <section class="informacion">
            <div class="foto">
                <img src="./images/12835769.jpg" alt="">
            </div>
            <div class="texto">
                <h2 id="nombrePrincipal">Redvers Escobar <br><span>Tecnología en Xtrategik Mercadeo Extremo</span></h2>
                
                <p>Profesional con más de quince años en el área de servicios al cliente. Desarrollador web/frontend, implementación de tiendas virtuales ecommerce. VTEX partner. Experiencia en el área de centros de contactos (Call Center) en las industrias de telecomunicaciones y seguros. Documentación de procedimientos bajo la Norma ISO 9000 y formación en auditorias internas del Sistema de Gestión de la Calidad (SGC). Facilitador de programas de cambio de cultura organizacional y de adiestramiento para el personal de servicios al cliente. Diseño IVR (Sistemas Interactivos de Voz). </p>
            </div>
        </section>
        <section class="informacion">
            <div class="texto-2">
                <h2>Referencias</h2>
                <h3>Maria Ferrer</h3>
                <h4>Desarrolladora de Software</h4>
                <p>Cargo: Gerente de desarrollo</p>
                <p>Cel: 325 435 65 09</p>
                <br>
                <h3>Daniel Morales</h3>
                <h4>Desarrollador Web</h4>
                <p>Cargo: Coordinador de desarrollo</p>
                <p>Cel: 329 535 45 19</p>
            </div>
            <div class="texto">
                <h2>Experiencia</h2>
                <h3>Gerencia de Tecnología</h3>
                <h4>Xtrategik Mercadeo Extremo - Jornada completa</h4>
                <p>ago. de 2015 - actualidad - 4 años y 8 meses</p>
                <br>
                <ul>
                    <li>Full Stack Developer, desarrollo web frontend y backend</li>
                    <li>Implementacion de tiendas virtuales VTEX - Plataforma ecommerce en la nube </li>
                    <li>Manejo de tecnologías: Html5, CSS3, JavaScript, JQuery, PHP, mySQL, MongoDB</li>
                    <li>Aplicación de estrategias SEO para posicionamiento en buscadores</li>
                </ul>
                <br>
                <h3>Coordinador de Servicio al Cliente</h3>
                <h4>Documentos Mercantiles S.A DOMESA - Jornada completa</h4>
                <p>ago. de 2015 - actualidad - 3 años y 7 meses</p>
                <br>
                <ul>
                    <li>Control y supervisión, recepción y resolución de reclamos.</li>
                    <li>Atención y solución de casos no resueltos por las unidades resolutorias y escalados por los representantes de atención al cliente.</li>
                    <li>Atención a los casos presentados por entes públicos en materia de reclamos por clientes e integrar acciones de distintas áreas con el fin de brindar un conjunto de respuestas que aseguren un manejo adecuado de la situación.</li>
                    <li>Control del proceso de indemnización a clientes de los segmentos Masivos y Empresas e Instituciones (medianas y pequeñas).</li>
                </ul>
            </div>
        </section>
        <section class="informacion">
            <div class="texto-2">
                <h2>Estudios</h2>
                <h3>IUTAV</h3>
                <p>Título: Informática, TSU informática</p>
                <p>Sep. de 2013</p>
                <br>
                <h3>After Effects CC</h3>
                <p>Posa Studio Creativo</p>
                <p>Jul. de 2014</p>
                <br>
                <h3>Dreamweaver CC with Html5 / CSS3</h3>
                <p>Posa Studio Creativo</p>
                <p>Jul. de 2014</p>
            </div>
            <div class="texto">
                <h2>Contactame</h2>
                <form method="GET" action="/mensaje-usuario/?">

                    <input id="usuario" name="usuario" placeholder="Ingresa tu usuario" type="text">

                    <input id="asunto" name="asunto" placeholder="Ingresa tu asunto" type="text">

                    <textarea name="mensaje" id="mensaje" cols="30" rows="3"
                        placeholder="Ingresa tu mensaje"></textarea>

                    <button id="btn-enviar">Enviar</button>
                </form>

            </div>
            
         
        </section>
    </div>
</body>

</html>