<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul class="menu">
                <li><a href="/">Perfil</a></li>
                <li><a href="/experiencias">Experiencia</a></li>
                <li><a href="/referencias">Referencias</a></li>
                <li><a href="/estudios">Estudios</a></li>
                <li><a href="/contactame">Contactame</a></li>
            </ul>
        </nav>

        <div class="caja">
            <div class="imagenform">
               <img src="/images/suc.png" alt="">
            </div>
            <h3>¡Envió de mensaje éxitoso, gracias!</h3>
            <p>Rellena los campos: </p>
            <a href="/contactame"> Volver al inicio</a>
        </div>
        
       
    </div>
</body>

</html>